.test{
 width: 300px;
}
.uzhnu{
    width: 32px;
}
.order{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.back{
    background-color: blanchedalmond;
}